# --- IDEs & Editors ---
.idea/
.vscode/
*.swp
*.swo

# --- Go Binaries & Artifacts ---
# This ignores the compiled executable created by 'go build'
/bin/

*.exe
*.exe~
*.dll
*.so
*.dylib

# --- OS Specific ---
.DS_Store
Thumbs.db

# --- Go Test & Coverage ---
*.test
*.out

# --- SQLite Database ---
*.db
*.db-shm
*.db-wal

# --- Environment & Sensitive Data ---
# If you ever use a .env file for database secrets, keep it out of Git!
.env